#{extends 'main.html' /}
<!DOCTYPE html >
<html>


<div class="login">
    <h2>LOGIN</h2>
    <div class="credentials">
        <form>
            <div class="form-group">
                <label for="usr">Usuari:</label>
                <input type="text" class="form-control" id="usr">
                <label for="pass">Contrasenya:</label>
                <input type="text" class="form-control" id="pass">
            </div>
        </form>
        <button id="login">Enviar</button>
    </div>
</div>
</html>