<!DOCTYPE html >
<html>
<head>
    <title>#{get 'title' /}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="@{'/public/stylesheets/main.css'}" />
    <link rel="shortcut icon" type="image/png"
          href="@{'/public/images/favicon.png'}" />
</head>
<body>

<div id="header">
    <div id="logo">
        Gestor d'empresa
    </div>

    <div id="loadpage">
        <script type="text/javascript">
            function loadPage(href)
            {
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.open("GET", href, false);
                xmlhttp.send();
                return xmlhttp.responseText;
            }
        </script>
    </div>
    <ul id="tools">

        <li>

            <a id="login" href="Login.html">Login</a>
            <div onClick="document.getElementById('login').innerHTML =
                      loadPage('Login.html');"></div>

            <div id="login" ></div>

        </li>
    </ul>

    <div id="title">
        <span class="about">About this blog</span>
        <h1><a href="#">${blogTitle}</a></h1>
        <h2>${blogBaseline}</h2>
    </div>
</div>

<div id="main">
#{doLayout /}



</div>
<div w3-include-html="Login.html"></div>
<p id="footer">
   Aplicació web de gestió d'empreses. PES EETAC
</p>

</body>
</html>